body {
    background-color: #444;
  }
  
  .ui-btn {
    background-color: purple;
    color: white;
    text-shadow: none;
  }
  #home {
    background-color: #444;
  }
  #navbar {
    background-color: #444;
  }
  #home .ui-navbar {
    background-color: #444;
  }

[data-role="page"] {
    background-color: #444;
  }
  
  
  
 
  [data-role="navbar"] a {
    background-color: #333;
    color: black;
  }
  
 
  [data-role="navbar"] .ui-btn-active {
    background-color: #555;
  }
  
 
  [data-role="navbar"] .ui-icon {
    background-color: #333;
    color: white;
  }
  #noteEntry input[type="number"],
  #noteEntry input[type="text"],
  #noteEntry select {
    background-color: #333;
    color: whitesmoke;
  }
  [data-role="navbar"] {
    background-color: blue;
  }
  #navA{
    background-color: #1569C7;
    color:white;
}
#navB{
    background-color: #2554C7;
    color:white
}
#navB:hover{
    background-color: #0000A5;
}
#homePage{
    font-family: Aclonica;
    color:#2554C7;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
}
img {
  max-width: 50%;
  height: auto;
}
img[src="listImage.png"] {
  width: 400px;
  height: 400px;
}
